.particlehead {
    background: #000000;
    position: absolute;
  }
  @media only screen and (max-width: 768px) {
    .particlehead {
        background: #000000;
        top:-50px;
        height: 50vh;
      }
  }
  
