.particlehead {
    background: #cfcfcf;
    position: absolute;
  }
  @media only screen and (max-width: 768px) {
    .particlehead {
        background: #cfcfcf;
        top:-50px;
        height: 50vh;
      }
  }
  
